/* styles.scss */
.modal-open {
    overflow: hidden;
}

.modal {
    transition: opacity 0.3s ease;
    opacity: 0;
}
.modal.show {
    opacity: 1;
    display: block;
}

.modal-backdrop {
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.61);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1040;
}
.modal-backdrop.show {
    opacity: 1;
}
.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translateY(-50px);
}
.modal.show .modal-dialog {
    transform: translateY(0);
}
