.categories {
    position: sticky;

    top: 2rem;
    height: fit-content;
    .list-group {
        .list-group-item {
            cursor: pointer;
            .img-thumbnail {
                width: 75px;
                aspect-ratio: 1;
            }
            &:hover {
                background-color: bg;
            }
        }
    }
}
