/* You can add global styles to this file, and also import other style files */
/*:root {
    --bs-body-bg: #121212;
    --bs-body-color: #f8f9fa;
    --bs-navbar-bg: #1f1f1f;
    --bs-navbar-color: #f8f9fa;
    --bs-link-color: red;
    .list-group {
        --bs-list-group-active-bg: orange;
        --bs-list-group-active-border-color: orange;
    }
}
*/
